csii-upp-qrcodeplatform/src/main/resources/META-INF/server/webservice/xsd/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.csii.bank.pay/base"
	xmlns:base="http://com.csii.bank.pay/base" elementFormDefault="qualified">
	<simpleType name="AmountType">
		<annotation>
			<documentation>金额类型定义</documentation>
		</annotation>
		<restriction base="decimal">
			<pattern value="(\+|\-)?\d{0,22}(\.\d{1,2})?" />
		</restriction>
	</simpleType>
		<simpleType name="CurrencyType">
		<annotation>
			<documentation>币种类型定义</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="CNY">
				<annotation>
					<documentation>人民币</documentation>
				</annotation>
			</enumeration>
			<enumeration value="HKD">
				<annotation>
					<documentation>港币</documentation>
				</annotation>
			</enumeration>
			<enumeration value="JPY">
				<annotation>
					<documentation>日元</documentation>
				</annotation>
			</enumeration>
			<enumeration value="EUR">
				<annotation>
					<documentation>欧元</documentation>
				</annotation>
			</enumeration>
			<enumeration value="GBP">
				<annotation>
					<documentation>英镑</documentation>
				</annotation>
			</enumeration>
			<enumeration value="USD">
				<annotation>
					<documentation>美元</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<complexType name="RequestHeader">
		<sequence>
			<annotation>
				<documentation>
					资金处理平台通用报文头定义
				</documentation>
			</annotation>
			<element name="UpperSysNbr" type="string">
				<annotation>
					<documentation>上游渠道号</documentation>
				</annotation>
			</element>
			<element name="UpperTransDate" type="date">
				<annotation>
					<documentation>上游交易时间</documentation>
				</annotation>
			</element>
			<element name="UpperTransTime" type="dateTime">
				<annotation>
					<documentation>上游交易时间</documentation>
				</annotation>
			</element>
			<element name="UpperTransNbr" type="string">
				<annotation>
					<documentation>上游交易流水号</documentation>
				</annotation>
			</element>
			<element name="BranchNbr" type="string">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
			<element name="BankOrgNbr" type="string">
				<annotation>
					<documentation></documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ResponseHeader">
		<sequence>
			<element name="RespStatus" type="string">
				<annotation>
					<documentation>交易状态</documentation>
				</annotation>
			</element>
			<element name="RespCode" type="string">
				<annotation>
					<documentation>返回码</documentation>
				</annotation>
			</element>
			<element name="RespMessage" type="string" nillable="true">
				<annotation>
					<documentation>返回信息</documentation>
				</annotation>
			</element>
			<element name="OverallRtxnNbr" type="string">
				<annotation>
					<documentation>后台流水号</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="QueryRequestHeader">
		<complexContent>
			<extension base="base:RequestHeader">
				<sequence>
					<element name="pageNum" type="int">
						<annotation>
							<documentation>请求页数（从1开始）</documentation>
						</annotation>
					</element>
					<element name="pageSize" type="int">
						<annotation>
							<documentation>每页记录条目数</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="QueryResponseHeader">
		<complexContent>
			<extension base="base:ResponseHeader">
				<sequence>
					<element name="totalNum" type="string">
						<annotation>
							<documentation>总记录数</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="BaseRequest" type="base:RequestHeader" />
	<element name="BaseResponse" type="base:ResponseHeader" />
	<element name="QueryRequest" type="base:QueryRequestHeader" />
	<element name="QueryResponse" type="base:QueryResponseHeader" />
</schema>